# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Conventional directory for build outputs
doc/api/

# Avoid committing generated Javascript files:
*.dart.js
*.info.json
*.js
*.js_

# Avoid committing IDE files
.idea/
.vscode/
*.iml
