{{#isArray}}{{#items.isModel}}{{name}}?.map((e) => e.toJson()).toList(){{/items.isModel}}{{^items.isModel}}{{#items.isEnum}}{{name}}?.map((e) => e.toJson()).toList(){{/items.isEnum}}{{^items.isEnum}}{{#items.isDateTime}}{{name}}?.map((e) => e.toUtc().toIso8601String()).toList(){{/items.isDateTime}}{{^items.isDateTime}}{{name}}{{/items.isDateTime}}{{/items.isEnum}}{{/items.isModel}}{{/isArray}}{{^isArray}}{{#isMap}}{{#additionalProperties.isModel}}{{name}}?.map((k, v) => MapEntry(k, v.toJson())){{/additionalProperties.isModel}}{{^additionalProperties.isModel}}{{name}}{{/additionalProperties.isModel}}{{/isMap}}{{^isMap}}{{#isModel}}{{name}}?.toJson(){{/isModel}}{{^isModel}}{{#isEnum}}{{name}}?.toJson(){{/isEnum}}{{^isEnum}}{{#isDateTime}}{{name}}?.toUtc().toIso8601String(){{/isDateTime}}{{^isDateTime}}{{#isDate}}{{name}}?.toUtc().toIso8601String(){{/isDate}}{{^isDate}}{{name}}{{/isDate}}{{/isDateTime}}{{/isEnum}}{{/isModel}}{{/isMap}}{{/isArray}}