{{#hasImports}}
{{#oneOfImports}}
import type { {{{classname}}} } from './{{filename}}{{importFileExtension}}';
import {
    instanceOf{{{classname}}},
    {{{classname}}}FromJSON,
    {{{classname}}}FromJSONTyped,
    {{{classname}}}ToJSON,
} from './{{filename}}{{importFileExtension}}';
{{/oneOfImports}}

{{/hasImports}}
{{>modelOneOfInterfaces}}


export function {{classname}}FromJSON(json: any): {{classname}} {
    return {{classname}}FromJSONTyped(json, false);
}

export function {{classname}}FromJSONTyped(json: any, ignoreDiscriminator: boolean): {{classname}} {
    if (json == null) {
            return json;
    }
{{#discriminator}}
    switch (json["{{discriminator.propertyBaseName}}"]) {
{{#discriminator.mappedModels}}
            case "{{mappingName}}":
                    return Object.assign({}, {{modelName}}FromJSONTyped(json, true), { {{discriminator.propertyName}}: "{{mappingName}}" } as const);
{{/discriminator.mappedModels}}
            default:
                    return json;
    }
{{/discriminator}}
{{^discriminator}}
    {{#hasOneOfModels}}
    if (typeof json !== 'object') {
            return json;
    }
    {{/hasOneOfModels}}
    {{#oneOfModels}}
    if (instanceOf{{{.}}}(json)) {
            return {{{.}}}FromJSONTyped(json, true);
    }
    {{/oneOfModels}}
    {{#hasOneOfArrays}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => typeof item === 'object')) {
    {{#oneOfArrays}}
                    if (json.every((item: any) => instanceOf{{{.}}}(item))) {
                            return json.map((value: any) => {{{.}}}FromJSONTyped(value, true));
                    }
    {{/oneOfArrays}}
            }
    }
    {{/hasOneOfArrays}}
    {{#oneOfPrimitives}}
    {{#isArray}}
    {{#items}}
    {{#isDateType}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => !(isNaN(new Date(item).getTime())))) {
                    return json.map((value: any) => new Date(value));
            }
    }
    {{/isDateType}}
    {{#isDateTimeType}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => !(isNaN(new Date(item).getTime())))) {
                    return json.map((value: any) => new Date(value));
            }
    }
    {{/isDateTimeType}}
    {{#isNumeric}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => typeof item === 'number')) {
                    return json;
            }
    }
    {{/isNumeric}}
    {{#isBoolean}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => typeof item === 'boolean')) {
                    return json;
            }
    }
    {{/isBoolean}}
    {{#isString}}
    {{^isDateType}}
    {{^isDateTimeType}}
    if (Array.isArray(json)) {
            if (json.every((item: any) => typeof item === 'string')) {
                    return json;
            }
    }
    {{/isDateTimeType}}
    {{/isDateType}}
    {{/isString}}
    {{/items}}
    {{/isArray}}
    {{^isArray}}
    {{#isDateType}}
    if (!(isNaN(new Date(json).getTime()))) {
            return {{^required}}json == null ? undefined : {{/required}}({{#required}}{{#isNullable}}json == null ? null : {{/isNullable}}{{/required}}new Date(json));
    }
    {{/isDateType}}
    {{^isDateType}}
    {{#isDateTimeType}}
    if (!(isNaN(new Date(json).getTime()))) {
            return {{^required}}json == null ? undefined : {{/required}}({{#required}}{{#isNullable}}json == null ? null : {{/isNullable}}{{/required}}new Date(json));
    }
    {{/isDateTimeType}}
    {{/isDateType}}
    {{#isNumeric}}
    if (typeof json === 'number') {
            return json;
    }
    {{/isNumeric}}
    {{#isBoolean}}
    if (typeof json === 'boolean') {
            return json;
    }
    {{/isBoolean}}
    {{#isString}}
    {{^isDateType}}
    {{^isDateTimeType}}
    if (typeof json === 'string') {
            return json;
    }
    {{/isDateTimeType}}
    {{/isDateType}}
    {{/isString}}
    {{/isArray}}
    {{/oneOfPrimitives}}
    {{#hasOneOfArrays}}
    if (Array.isArray(json)) {
            return json;
    }
    {{/hasOneOfArrays}}
    return {} as any;
{{/discriminator}}
}

export function {{classname}}ToJSON(json: any): any {
    return {{classname}}ToJSONTyped(json, false);
}

export function {{classname}}ToJSONTyped(value?: {{classname}} | null, ignoreDiscriminator: boolean = false): any {
    if (value == null) {
            return value;
    }
{{#discriminator}}
    switch (value["{{discriminator.propertyName}}"]) {
{{#discriminator.mappedModels}}
            case "{{mappingName}}":
                    return Object.assign({}, {{modelName}}ToJSON(value), { "{{discriminator.propertyBaseName}}": "{{mappingName}}" } as const);
{{/discriminator.mappedModels}}
            default:
                    return value;
    }
{{/discriminator}}
{{^discriminator}}
    {{#hasOneOfModels}}
    if (typeof value !== 'object') {
            return value;
    }
    {{/hasOneOfModels}}
    {{#oneOfModels}}
    if (instanceOf{{{.}}}(value)) {
            return {{{.}}}ToJSON(value as {{{.}}});
    }
    {{/oneOfModels}}
    {{#hasOneOfArrays}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => typeof item === 'object')) {
    {{#oneOfArrays}}
                    if (value.every((item: any) => instanceOf{{{.}}}(item))) {
                            return value.map((item: any) => {{{.}}}ToJSON(item as {{{.}}}));
                    }
    {{/oneOfArrays}}
            }
    }
    {{/hasOneOfArrays}}
    {{#oneOfPrimitives}}
    {{#isArray}}
    {{#items}}
    {{#isDateType}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => item instanceof Date)) {
                    return value.map((item: any) => item.toISOString().substring(0,10));
            }
    }
    {{/isDateType}}
    {{#isDateTimeType}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => item instanceof Date)) {
                    return value.map((item: any) => item.toISOString());
            }
    }
    {{/isDateTimeType}}
    {{#isNumeric}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => typeof item === 'number')) {
                    return value;
            }
    }
    {{/isNumeric}}
    {{#isBoolean}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => typeof item === 'boolean')) {
                    return value;
            }
    }
    {{/isBoolean}}
    {{#isString}}
    {{^isDateType}}
    {{^isDateTimeType}}
    if (Array.isArray(value)) {
            if (value.every((item: any) => typeof item === 'string')) {
                    return value;
            }
    }
    {{/isDateTimeType}}
    {{/isDateType}}
    {{/isString}}
    {{/items}}
    {{/isArray}}
    {{^isArray}}
    {{#isDateType}}
    if (value instanceof Date) {
            return ((value{{#isNullable}} as any{{/isNullable}}){{^required}}{{#isNullable}}?{{/isNullable}}{{/required}}.toISOString().substring(0,10));
    }
    {{/isDateType}}
    {{#isDateTimeType}}
    if (value instanceof Date) {
            return {{^required}}{{#isNullable}}value === null ? null : {{/isNullable}}{{^isNullable}}value == null ? undefined : {{/isNullable}}{{/required}}((value{{#isNullable}} as any{{/isNullable}}){{^required}}{{#isNullable}}?{{/isNullable}}{{/required}}.toISOString());
    }
    {{/isDateTimeType}}
    {{#isNumeric}}
    if (typeof value === 'number') {
            return value;
    }
    {{/isNumeric}}
    {{#isBoolean}}
    if (typeof value === 'boolean') {
            return value;
    }
    {{/isBoolean}}
    {{#isString}}
    {{^isDateType}}
    {{^isDateTimeType}}
    if (typeof value === 'string') {
            return value;
    }
    {{/isDateTimeType}}
    {{/isDateType}}
    {{/isString}}
    {{/isArray}}
    {{/oneOfPrimitives}}
    {{#hasOneOfArrays}}
    if (Array.isArray(value)) {
            return value;
    }
    {{/hasOneOfArrays}}
    return {};
{{/discriminator}}
}
